html
    font-family: $main-font
    font-size: $main-font-size
    font-weight: normal
    color: $accent
    
body
    background: $white
    

h1,
h2
    display: block
    font-weight: normal

h1
    padding: .5rem 0 .5rem 1rem
    font-size: 1.6rem

h2
    font-size: 1.5rem
    margin-bottom: 1rem

p
    padding-bottom: .5rem

label
    display: inline-block
    height: 2rem
    line-height: 2rem
    vertical-align: top

input,
select,
button
    border: $io-border
    border-radius: .1rem
    background: $io-bg
    vertical-align: top
    outline: none
    color: $accent

    &:hover
        border: $io-hover-border
    
    &:active
        border: $io-hover-border
        background: $io-active-bg
    
    &:disabled
        border: $io-disabled-border
        color: $io-disablid-color
        background: $io-disabled-bg
    
    &::placeholder
        color: #555

select
    height: 2rem
    min-width: 10rem
    padding: 0

input[type="text"]
    height: 1.636rem
    min-width: 14.5rem
    margin-right: .3rem
    padding-left: .5rem
    background: $io-input-bg

button
    min-width: 2rem
    height: 2rem
    padding: 0
    margin: 0
    padding: 0 .5rem

li
    list-style-type: none

.hide
    display: none

.error
    color: red

.done
    color: green

.icon
    display: block
    margin-bottom: .5rem
    font-family: FontAwesome
    font-size: 2.5rem

.main-conteiner
    display: grid
    grid-template-columns: 6rem 1fr
    grid-template-rows: 1fr
    width: 100%
    height: 100%
    background: $white

.main-content
    position: relative
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr
    margin: 1rem
    background: inherit

    section
        display: none
        z-index: 1
        position: relative
        width: 100%
        height: 100%
        overflow: hidden
        background: $white
    
    .hello-section
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0