#page-settings

    &.active
        display: block

    .save-preferred-lang
        display: none

    ul
        padding: 1.5rem
        padding-bottom: 0

        li
            margin-left: 2rem

            label
                width: 17rem

            span
                height: 2rem
                line-height: 2rem
                padding-left: 1rem
            
            