// ================================================
//			Шрифты
// ================================================

// Основной шрифт
// ================================
$main-font: "MainFont"
$main-font-dest: '../fonts/Ubuntu.ttf'

// Иконочный шрифт
// ================================
$icon-font: "FontAwesome"
$icon-font-dest: '../fonts/fa-solid-900.ttf'

// Размер шрифта
// ================================
$font-size: 12px
$font-color-invert: #ccc


// ================================================
//			Цвета
// ================================================

$white: #fff

// Основное окно
// ================================
$window-bg: #fff

// Главное меню
// ================================
$main-menu-bg: #173f4f
$main-menu-bg-hover: #0c506b
$main-menu-font: #4c6b77