// ================================================
//			Шрифты
// ================================================

// Основной шрифт
// ================================
$main-font: 'MainFont'
$main-font-dest: '../fonts/VerdanaPro-Regular.ttf'
$main-font-size: 12px

// Иконочный шрифт
// ================================
$icon-font: 'FontAwesome'
$icon-font-dest: '../fonts/fa-solid-900.ttf'


// ================================================
//			Цвета
// ================================================

$accent: #083a4e
$accent-hover: #173f4f
$accent-active: #748c96
$invert: #eee
$invert-hover: #ccc
$invert-active: #bbb
$black: #000
$white: #fff
$black-shadow: 0 0 1rem #000
$white-shadow: 0 0 1rem #fff


// ================================================
//			Элементы
// ================================================

$io-border: .1rem solid $invert
$io-hover-border: .1rem solid $invert-hover
$io-color: $black
$io-bg: linear-gradient(#f6f6f6, #ddd)
$io-input-bg: linear-gradient(#f7f7f7, #eee)
$io-active-bg: linear-gradient(#ddd, #f6f6f6)
$io-disabled-border: .1rem solid #ddd
$io-disabled-bg: #f6f6f6
$io-disablid-color: #999